.box5{
    /* border: 2px solid black; */
    width: 100%;
    height: 800px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.box5-box{
    /* border: 2px solid black; */
    width: 80%;
    height: 580px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card3{
    border: 2px solid #f9f9fa;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 15px;
}

.location{
    width: 42%;
    background-color: #f9f9fa;
    border-top: 4px solid #16df7e;
    border-bottom: 4px solid #16df7e;
}

.information{
    width: 56%;
    justify-content: space-around;
    background-color: #f9f9fa;
    border-top: 4px solid #16df7e;
    border-bottom: 4px solid #16df7e;
}

.information input{
    width: 90%;
    border-radius: 5px;
}

.elements{
    margin: 10px;
}

.elements input{
    padding: 10px;
}

.elements textarea{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
}

.box5-heading{
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 90px;
}

.box5-heading p{
    margin-top: 17px;
}

.locElement{
    margin: 30px 35px;
}

.information button{
    margin-top: 35px;
    height: 43px;
    width: 180px;
    font-size: large;
    background-color: #16df7e;
    border-radius: 5px;
    border: 2px solid #16df7e;
    color: white;
}

.information button:hover{
    background-color: #206bfb;
}