*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    /* border: 2px solid black; */
    background-color: tomato;
    margin-top: 2px;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}
 
#left{
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center{
    width: 900px;
    display: flex;
    align-items: center;
}
#right{
    width: 250px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#right input{
    border: 2px solid black;
    border-radius: 5px;
    height: 15px;
    padding: 5px;
}
.inSideCenter a{
    text-decoration: none;
    margin-left: 70px;
    color: black;
}

#left h3:hover{
    cursor: pointer;
}
.inSideCenter a:hover{
    color: rgb(146, 33, 150);
}